---
layout: page
title: Recent
subtitle: Things We Have Done
permalink: /projects/
---

<ul class="list-posts">
    {% for post in site.posts %}
        <li style="box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05); padding: 16px 4px; background-color: white; border-radius: 2px;" class="post-teaser">
        	<img style="max-width: 70%;" src="{{ post.imageUrl }}" />
            <div style="max-width: 100%; text-align: center;">
                {% if post.redirect %}
	            <a href="{{ post.redirect }}">
	                <span class="post-teaser__title">{{ post.title }}</span>
	            </a>
                {% else %}
                <span class="post-teaser__title">{{ post.title }}</span>
                {% endif %}
	            <p style="font-size: 16px; font-weight: 500;">{{ post.description }}</p>
	        </div>
        </li>
    {% endfor %}
</ul>
